{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Image Compressor</a>
      </div>
      </div>
    </nav>
    <div class="jumbo-align">
    <div class="jumbotron">
        <div class="container-fluid">
        <h1 class="display-4">K-Means algorithm for Image Compression</h1>
        <p class="lead">K-Means is a simple algorithm used in Machine Learning,Image Processing etc. There are a lot of complex algorithms for Image Compression
           which perform better than K-Means.This website can  help in understanding of Image Compression and visualize how K-Means works.
        </p>
        <hr class="style-two">
        <p>Select the Image and No of Colors to represent the Image and Upload. Scroll down to see the Compressed Image</p>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    <label for="img"><h3>Select image:</h3></label>
                    <input class="btn-services scrollto" type="file" id="img" name="img" accept="image/*" required>
                </div>
                <div class="col-sm-6">
                    <div class="slidecontainer">
                        <h3>Select no of clusters</h3>
                        <input type="range" min="1" max="150" value="16" class="slider" id="myRange" name="cluster" onchange="updateTextInput(this.value);">
                        <p style="margin-top: 10px;">Value:<span id="demo">16</span></p>
                    </div>
                </div>
                <div class="row" style="text-align: center;">
                     <div class="col-sm-12" style="margin-top: 25px;">
                        <button type="submit">Submit</button>
                     </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    <hr class="style-four">
    <div class="row">
        <div class="comp">
        <h2 id="compress-title"><i class="fas fa-terminal"></i>  Image before and after compression</h2><br>
        <div class="col-md-6">
          <div class="thumbnail" style="background-color: #3d86fc;">
              <div class="caption">
                <p>Original Image : ( {{ size.Original }} kb )</p>
              </div>
              <img src="{{ urls.Original }}" alt="Lights" style="width:100%; height:70%;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail" style="background-color: #3d86fc;">
              <div class="caption">
                <p>Compressed Image : ( {{ size.Compressed }} kb )  <a href="{{ urls.download }}" download="Compressed" style="margin-left:10px; color: black;"><i class="fa fa-download"></i> Download </a></p>
              </div>
              <img src="{{ urls.Compressed }}" alt="Nature" style="width:100%">
          </div>
        </div>
       </div>
    </div>
    <hr class="style-four">
    <div class="container-fluid">
      <div class="working">
       <h3><i class="fas fa-book"></i>  How K-Means Works</h3>
       <div class="row">
         <div class="col-lg-12">
          <p>First, let’s look at how the colored images are stored. An image comprises of several very small intensity values (dots) 
            known as Pixels. The colored image is the image that includes color information for each pixel. In a colored image, each 
            pixel is of 3 bytes containing RGB (Red-Blue-Green) values having Red intensity value, then Blue and then Green intensity 
            value for each pixel. As you may have observed, the size of a colored digital image can be huge as each pixel requires 3 bytes
            or (3X8) bits intensity values. So, these images are often stored as the compressed images with lesser number of bits for 
            intensity values and hence, lesser memory for storage.<br><br>
            Formally, image compression is the type of data compression applied to digital images to reduce their cost of storage or 
            transmission. Before moving on to the implementation, let’s go through the K-means clustering algorithm briefly. K-means 
            clustering is the optimization technique to find the ‘k’ clusters or groups in the given set of data points. The data points 
            are clustered together on the basis of some kind of similarity. Initially, it starts with the random initialization of the ‘k’
            clusters and then on the basis of some similarity (like euclidean distance metric), it aims to minimize the distance from every 
            data point to the cluster center in each clusters.<br><br></p>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-6">
           <p>
            There are mainly two iterative steps in the algorithm:<br>
            a) Assignment step- Each data point is assigned to a cluster whose center is nearest to it.<br>
            b) Update step- New cluster centers (centroids) are calculated from the data points assigned to the new cluster by choosing 
            the average value of these data points.<br>
            These iterative steps continue till the centroids sieze to move further from their clusters. Now, we get several clusters 
            separated due to some difference while some data points are grouped together due to similarity. For illustration, let’s look 
            at the picture below. Look how the data points have been grouped according to their distance values.
           </p>
         </div>
         <div class="col-lg-6" style="text-align: center; margin-top: 70px;">
          <div class="thumbnail" style="border: 0;">
            <img src="{% static 'img/giphy.gif' %}"  alt="">
          </div>
         </div>
       </div><br><br>
       <div class="row">
         <div class="col-lg-6">
           <p>In our problem of image compression, K-means clustering will group similar colors together into ‘k’ clusters (default k=16, 
              You can set any value between 1 to 150)
              of different colors (RGB values). Therefore, each cluster centroid is the representative of the three dimensional color 
              vector in RGB color space of its respective cluster. You might have guessed by now how smoothly K-means can be applied 
              on the pixel values to get the resultant compressed image. Now, these ‘k’ cluster centroids will replace all the color 
              vectors in their respective clusters. Thus, we need to only store the label for each pixel which tells the cluster to 
              which this pixel belongs. Additionally, we keep the record of color vectors of each cluster center. Look at the original 
              and compressed images below.<br><br> 
          </p>
         </div>
         <div class="col-lg-6" style="margin-top: 70px;">
           <div class="thumbnail" style="border: 0;">
            <img src="{% static 'img/sample.jpg' %}" alt="">
           </div>
         </div>
       </div>
       <p>
        Now, lets look at whether the image is really compressed. Earlier each pixel was taking 24 (8X3) bits to store its 
        corresponding color vector. After applying this algorithm, each pixel only takes 6 bits to do so as it only stores the 
        label of the cluster to which it belongs (k=16 in our example). K=16 different color vectors can be represented using 4 
        bits only. Thus, the resultant image will have 16 different colors in its RGB color space. Note that the compression here 
        will be lossy i.e. the fine details in an image may get vanished after this compression. However, we can take relatively 
        higher value of ‘k’ to minimize this loss and make it as minimum as possible. In the default example with "k=16" we have 
        succesfuully compressed the image from 120 kb to 84 kb. With low value of "k" you will get less storage 
        size and less image quality ,for high value of k its vice-versa.
       </p>
      </div>
    </div>
    <!-- Footer -->
   </div>
   <footer class="foot">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row" style="margin-top: 10px;">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">IMAGE COMPRESSOR WEB BY YASH KERKAR</h5>
          <p>THANKYOU FOR VISITING THIS WEBSITE !!</p>
  
        </div>
        <!-- Grid column -->
  
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Code / Media Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/yash-kerkar/Image_Compression"><i class="fab fa-github"></i> Github</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yash-kerkar-79774719a/"><i class="fab fa-linkedin"></i> Linkedin</a>
            </li>
            <li>
              <a href="#!"><i class="far fa-envelope"></i> kerkaryash4@gmailcom</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <a href="#">--  Created By YASH KERKAR  --</a>
    </div>
    <!-- Copyright -->
  
  </footer>
<!-- Footer -->
</body>
</html>